* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#screen {
    width: 300px;
    height: auto;
    border: 1px solid #000;
}